/* .container {
    margin: 15px;
} */

.jumbotron {
    text-align: center;
    background-color: #001F3F;
    color:hsla(210, 100%, 75%, 1.0);
}

.td-info  {
    text-align: center;
}

/* .month>tbody>tr>td {
    width: 14%;
    height: 100px;
}

.today {
    background-color: lightgrey;
}

.btn-block {
    white-space: normal;
}

.th.month {
    color: #001F3F;
} */