{% extends "bootstrap/base.html" %}

{% block title %}Training Plan{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block styles -%}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
    <link href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css" rel="stylesheet"/>
{% endblock %}

{% block navbar %}
{{nav.mynavbar.render()}}
{% endblock %}

{% block content %}
    {% block page_content %}{% endblock %}
    {% include "footer.html" %}
{% endblock %}
