{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

<!-- Show specified number of multi-select options -->
{% macro render_field(field, s) -%}
    {% if field.type != 'HiddenField' %}
        <label for="{{ field.id }}">{{ field.label }}</label>
       {{ field(size=s, class="form-control", **kwargs) }}
    {% endif %}
{%- endmacro %}

{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover(); 
        });
    </script>
    <div class="jumbotron">
        <h1>Hello, Runner!  <i class="mdi mdi-run-fast"></i></h1>
    </div>
   <div class="container">
        {%- with messages = get_flashed_messages(with_categories=True) %}
        {%- if messages %}
            <div class="row">
                <div class="col-md-12">
                    {{utils.flashed_messages(messages)}}
                </div>
            </div>
        {%- endif %}
        {%- endwith %}
        <div class="col-md-12">
            <form class="form" method="post" role="form">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="only") }}</p>         
                <p>{{ form.event.label }}</p>
                <p>{{ form.event(class="form-control") }}</p>        
                <p>{{ form.level.label }} <i class="mdi mdi-information-outline" data-toggle="popover" data-placement="bottom" data-html="true" title="Ability Levels" data-content="<h5>Beginner</h5>
                    <p>You have done little or no exercise and would like to start some running.</p>
                    <h5>Intermediate</h5>
                    <p>You are planning to invest a little more time and effort into your running training.  This plan will see you run 3 to 4 times a week and assumes you can already run for 30 minutes continuously.</p>
                    <h5>Advanced</h5>
                    <p>You have already banked a few races and want to improve your performance.  It includes fast intervals and sustained paced running.  You’ll be running 4 times a week.</p>"></i></p>
                <p>{{ form.level(class="form-control") }}</p> 
                <p>{{ render_field(form.days, 7) }}</p>
                <br>
                <p>{{ form.submit(class="btn btn-primary btn-block") }}</p>
            </form>
        </div>
   </div>
{%- endblock %}



