{% extends "base.html" %}

{% block title %}Plan{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Training Plan</h1>
</div>
<div class="container">
    <h2>Summary</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed">
            <tr>
                <td>Distance</td><td>{{ distance }}</td>
            </tr>
            <tr>
                <td>Ability</td><td>{{ ability }}</td>
            </tr>
            <tr>
                <td>Length</td><td>{{ plan.plan_length }} weeks</td>
            </tr>
        </table>
    </div>
</div>

<div class="container">
    <h2>Plan</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-condensed">
        <tr>
            <th><strong>Week</strong></th>
            {% for day in plan.schedule %}
                <th><strong>Day {{ day }}</strong></th>
            {% endfor %}
            <th>Minutes Training for the Week</th>
        </tr>
        {% for week in plan.schedule["A"] %}
            <tr>
                {% set week_loop = loop %}
                <td>{{ week_loop.index0 }}</td>
                
                {% for day in plan.schedule %}
                <td>
                    {% for set in plan.schedule[day][week_loop.index0] %}
                        <p>{{ set }}</p>
                    {% endfor %}
                {% endfor %}
                </td>

                <td>{{ plan.calculate_duration_of_week(week_loop.index0) }}</td>
            </tr>
        {% endfor %}
      </table>
    </div>
</div>



{% endblock %}