{% extends "base.html" %}

{% block title %}Plan{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Training Plan</h1>
</div>
<div class="container">
    <h2>Summary</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-condensed">
            <tr>
                <td>Event</td><td>{{ plan.event }}</td>
            </tr>
            <tr>
                <td>Level</td><td>{{ plan.level }}</td>
            </tr>
            <tr>
                <td>Weeks to event</td><td>{{ plan.weeks_to_event }} </td>
            </tr>
        </table>
    </div>
    <div>
        <a href="{{ url_for('main.index') }}"><button>Go back</button></a>
    </div>
</div>

 <div class="container">
     <h2>Schedule</h2>
     <div class="table-responsive">
        <div id="calendar">
            {% for calendar in plan.calendars %}
                {{ calendar|safe }}
            {% endfor %}
        </div>
     </div>
</div> 

{% endblock %}